.div_left{
    float: left;
    width:150px;
    padding-top: 40px;
}
.div_menu1{
    width: 250px;
    height: 300px;
    background-color:rgba(89, 135, 143, 0.623);
    text-align: center;
    padding-top: 130px;
}
.div_right{
    float: right;
    width: 350px;
    padding-top: 40px;
}
.div_menu{
    height: 400px !important;
}
