.active_header{
    background-color: rgb(214, 214, 214);
    text-align: center;
    vertical-align: middle;
    height: 120px;
}
.current{
    background-color:rgb(221, 235, 247) ;
    color: black !important;
}
.navLink{
    color:black;
    border: 1px solid;
    padding: 10px 20px;
    vertical-align: middle;
}
#components-layout-demo-top-side .logo {
    float: left;
    width: 120px;
    height: 31px;
    margin: 16px 24px 16px 0;
    background: rgba(255, 255, 255, 0.3);
  }
  
  .ant-row-rtl #components-layout-demo-top-side .logo {
    float: right;
    margin: 16px 0 16px 24px;
  }
  
  .site-layout-background {
    background: #fff;
  }